<header th:fragment="header"
	class="play-header d-flex align-items-center justify-content-between px-4">

	<!-- LOGO -->
	<div class="play-logo fw-bold fs-4">▶ Play Sport</div>

    <!-- MENU -->
    <nav class="play-menu">
        <a th:href="@{/}" class="active">Trang chủ</a>
        <a th:href="@{/product}">Sản phẩm</a>
        <a th:href="@{/contact}">Liên hệ</a>
        <a th:href="@{/more}">Xem thêm</a>
    </nav>

	<!-- RIGHT -->
	<div class="d-flex align-items-center gap-3">

		<!-- SEARCH -->
		<form class="d-none d-lg-flex">
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" placeholder="Tìm kiếm...">
				<button class="btn btn-outline-secondary">🔍</button>
			</div>
		</form>

		<!-- CART -->
		<a th:href="@{/cart}"
			class="btn btn-outline-primary position-relative"> 🛒 
			<span th:text="${count}"
				  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
			</span>
		</a>

		<!-- LOGIN ICON -->
		<button id="btnLogin" type="button"
			class="btn btn-light rounded-circle" data-bs-toggle="modal"
			data-bs-target="#authModal">👤</button>
	</div>

	<!-- ================= MODAL LOGIN / REGISTER ================= -->

	<div class="modal fade" id="authModal" tabindex="-1" th:if="${user == null}">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0 rounded-4 shadow">

				<div class="modal-header border-0">
					<h5 class="modal-title fw-bold" id="authTitle">Đăng nhập</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<div class="modal-body px-4">

					<div id="loginBox">
						<div th:replace="page/login :: loginForm"></div>
					</div>

					<div id="registerBox" class="d-none">
						<div th:replace="page/register :: registerForm"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="authModal" tabindex="-1" th:if="${user != null}">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0 rounded-4 shadow">

				<div class="modal-header border-0">
					<h5 class="modal-title fw-bold" id="authTitle">Đăng xuất</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
			        <a th:href="@{/logout}">Đăng xuất</a>
				<div class="modal-body px-4">
					
				</div>
			</div>
		</div>
	</div>
	
	<script th:if="${loginRequired}">
		window.addEventListener('DOMContentLoaded', () -> {
			const modal = document.getElementById("authModal");

		    if (modal && window.bootstrap) {
		        new bootstrap.Modal(modal).show();
		    }
		}});
	</script>
	
	

</header>
