<div th:fragment="productList">

	<div class="product-grid">
		<div class="product-item" th:each="p : ${products.content}">

			<!-- IMAGE -->
			<div class="product-img">
				<img th:src="${p.image}" alt="Ảnh sản phẩm">

				<!-- FAVORITE -->
				<button class="btn-favorite" th:attr="data-id=${p.id}"
					onclick="toggleFavorite(this)">❤</button>
			</div>

			<!-- INFO -->
			<h4 th:text="${p.name}"></h4>
			<p class="price"
				th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' đ'">
			</p>

			<!-- ACTION -->
			<div class="product-action">
				<button class="btn-buy">Mua ngay</button>
				<button class="btn-cart" th:attr="onclick=|addToCart(${p.id})|">
					🛒</button>
			</div>

		</div>
	</div>

	<!-- PAGINATION -->
	<div class="pagination" th:if="${products.totalPages > 1}">
		<a href="#" th:if="${!products.first}" onclick="loadPage(0)">First</a>
		<a href="#" th:if="${products.hasPrevious()}"
			th:onclick="'loadPage(' +${products.number - 1} + '')">Previous</a>

		<!-- Page number -->
		<span th:each="i : ${#numbers.sequence(0, products.totalPages - 1)}">
			<a href="#" th:text="${i + 1}"
			th:classappend="${i == products.number} ? 'active' : '' "
			th:onclick="|loadPage(${i})|"> </a>
		</span> <a href="#" th:if="${products.hasNext()}"
			th:onclick="|loadPage(${products.number + 1})|">Next</a> <a href="#"
			th:if="${!products.last}"
			th:onclick="|loadPage(${products.totalPages - 1})|">Last</a>
	</div>

</div>