/* BOX ĐĂNG NHẬP */
/* wrapper căn giữa */
.login-page {
    min-height: calc(100vh - 70px - 60px); 
    /* header 70px + footer 60px */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* auth-box giữ nguyên */
.auth-box {
    width: 360px;
    background: #fff;
    padding: 28px 32px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


/* TIÊU ĐỀ */
.auth-box h2 {
    text-align: center;
    margin-bottom: 22px;
    color: #333;
}

/* LABEL */
.auth-box label {
    display: block;
    margin-top: 14px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

/* INPUT */
.auth-box input {
    width: 100%;
    margin-top: 6px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.auth-box input:focus {
    outline: none;
    border-color: #6a5acd;
}

/* BUTTON */
.auth-box button {
    width: 100%;
    margin-top: 22px;
    padding: 11px;
    border: none;
    border-radius: 6px;
    background: #6a5acd;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.auth-box button:hover {
    background: #5a4acb;
}

/* LINKS */
.auth-links {
    margin-top: 18px;
    text-align: center;
}

.auth-links a {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    text-decoration: none;
    color: #6a5acd;
}

.auth-links a:hover {
    text-decoration: underline;
}
