<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-content}">
<body>

	<div th:fragment="loginForm">

		<form th:action="@{/login}" method="post">

			<div class="form-floating mb-3">
				<input type="text" name="username" class="form-control"
					placeholder="Username" required> <label>Username</label>
			</div>

			<div class="form-floating mb-3">
				<input type="password" name="password" class="form-control"
					placeholder="Password" required> <label>Password</label>
			</div>

			<div th:if="${error}" class="alert alert-danger text-center py-2">
				[[${error}]]</div>

			<button class="btn btn-primary w-100 py-2 fw-semibold">Đăng
				nhập</button>

			<div class="text-center mt-3 small">
				Chưa có tài khoản? <a href="#" onclick="showRegister()">Đăng ký</a>
			</div>

		</form>

	</div>

</body>
</html>
