<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-content}">
<body>

	<div th:fragment="loginForm">

            <form th:action="@{/login/validate}" method="post">
            	<div class="fw-semibold bg-danger text-white p-2 rounded" 
            		 th:if="${error}"
            		  th:text="${error}"></div>
                
                <div class="form-floating mb-3">
               	 	<input type="text" name="username" 
               	 		   th:value="${#cookies!=null ? #cookies.rememberedUsername?.value : ''}" 
               	 		   placeholder="Nhập username"
               	 		   class="form-control">
        	        <label>Username</label>               	
                </div>
                
                <div class="form-floating mb-3">
                	<input type="password" name="pwd" placeholder="Nhập mật khẩu" class="form-control"><label>Mật khẩu</label>
                </div>
               
                
                
                <div id="checkbox" class="d-flex flex-row justify-content-start align-items-center my-3">
	                <input id="chk" name="chk" type="checkbox" class="mt-3 me-1">
	                <label for="chk" class="mt-3">Remember me</label>
                </div>

			<button class="btn btn-primary w-100 py-2 fw-semibold">Đăng
				nhập</button>

			<div class="text-center mt-3 small">
				Chưa có tài khoản? <a href="#" onclick="showRegister()">Đăng ký</a>
			</div>

		</form>

	</div>

</body>
</html>
