<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-content}">
<body>

	<div th:fragment="loginForm">

            <form th:action="@{/login/validate}" method="post">
            	<div class="fw-semibold bg-danger text-white p-2 rounded" 
            		 th:if="${error}"
            		  th:text="${error}"></div>
                <label>Username</label>
                <input type="text" name="username" th:value="${#cookies!=null ? #cookies.rememberedUsername?.value : ''}" placeholder="Nhập username">

                <label>Mật khẩu</label>
                <input type="password" name="pwd" placeholder="Nhập mật khẩu">
                
                <div id="checkbox" class="d-flex flex-row justify-content-start align-items-center">
	                <input id="chk" name="chk" type="checkbox" class="mt-3">
	                <label for="chk" class="mt-3">Remember me</label>
                </div>

			<button class="btn btn-primary w-100 py-2 fw-semibold">Đăng
				nhập</button>

			<div class="text-center mt-3 small">
				Chưa có tài khoản? <a href="#" onclick="showRegister()">Đăng ký</a>
			</div>

		</form>

	</div>

</body>
</html>
