
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-content}">
<body>

<div layout:fragment="content">
  <h2>Đăng ký</h2>

    <form>
        <label>Họ tên</label><br>
        <input type="text"><br><br>

        <label>Email</label><br>
        <input type="email"><br><br>

        <label>Mật khẩu</label><br>
        <input type="password"><br><br>

        <button type="submit">Đăng ký</button>
    </form>
</div>

</body>
</html>
