<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main-content}">
<body>

	<div th:fragment="registerForm">

		<form onsubmit="return validateForm()" th:action="@{/register}" method="post" enctype="multipart/form-data">
		    <!-- USERNAME -->
		    <div class="form-floating mb-3">
		        <input type="text" 
		               name="username" 
		               class="form-control"
		               placeholder="Username" 
		               required> 
		        <label>Tên đăng nhập</label>
		    </div>
		
		    <!-- FULLNAME -->
		    <div class="form-floating mb-3">
		        <input type="text" 
		               name="fullname" 
		               class="form-control"
		               placeholder="Fullname" 
		               required> 
		        <label>Họ và tên</label>
		    </div>
		
		    <!-- EMAIL -->
		    <div class="form-floating mb-3">
		        <input type="email" 
		               name="email" 
		               class="form-control"
		               placeholder="Email" 
		               required> 
		        <label>Email</label>
		    </div>
		
		    <!-- PASSWORD -->
		    <div class="form-floating mb-3">
		        <input type="password" 
		               name="password" 
		               class="form-control"
		               placeholder="Password" 
		               required> 
		        <label>Mật khẩu</label>
		    </div>
		
		    <!-- CONFIRM PASSWORD -->
		    <div class="form-floating mb-3">
		        <input type="password" 
		               name="confirm" 
		               class="form-control"
		               placeholder="Confirm password" 
		               required> 
		        <label>Nhập lại mật khẩu</label>
		    </div>
		    
		    <!-- Error message -->
			<div id="confirmError" class="text-danger small d-none">
			    Mật khẩu không khớp
			</div>
		
		    <!-- PHOTO (optional) -->
		    <div class="mb-3">
		        <input type="file" 
		               name="photo" 
		               class="form-control">
		    </div>
		
		    <!-- ALERT -->
		    <div th:if="${error}" class="alert alert-danger text-center py-2">
		        [[${error}]]
		    </div>
		
		    <div th:if="${success}" class="alert alert-success text-center py-2">
		        [[${success}]]
		    </div>
		
		    <button class="btn btn-success w-100 py-2 fw-semibold">
		        Đăng ký
		    </button>
		
		    <div class="text-center mt-3 small">
		        Đã có tài khoản? 
		        <a href="#" onclick="showBox()"> Đăng nhập </a>
		    </div>
		</form>

	</div>

</body>
</html>
